@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank You</h1>

<p>Thank you for your support and contribution to our cause.</p>
<p>Feel free to explore more of our website or return to the homepage.</p>

<a asp-controller="Home" asp-action="Index">Go to Homepage</a>
